<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dam="http://gbfvip.lab/schema/dam"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://gbfvip.lab/schema/dam http://gbfvip.lab/schema/dam/dam.xsd">

    <dam:gate class="dam.test.TestBean" id="testBean" duration="10" size="1000"/>
</beans>